<IfModule mod_rewrite.c>
RewriteEngine On
# turn on the mod_rewrite engine

RewriteCond %{REQUEST_FILENAME}.php -f
# IF the request filename with .php extension is a file which exists
RewriteCond %{REQUEST_URI} !/$
# AND the request is not for a directory
RewriteRule (.*) $1\.php [L]
# redirect to the php script with the requested filename

RewriteRule ^readmore/([^/\.]+)/?$ readmore?id=$1 [L]
RewriteRule ^readmore.php/([^/\.]+)/?$ readmore.php?id=$1 [L]

RewriteRule ^readmore/([^/.]+)/?$1 readmore.php?id=$1 [L]

</IfModule>